@import "tailwindcss";

:root {
  --font-geist-sans: "Geist Sans", system-ui, sans-serif;
  --font-geist-mono: "Geist Mono", monospace;

  /* Lysmodus (Standard) */
  --background: #f6f3ec;
  --foreground: #010103;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Mørkemodus */
    --background: #010103;
    --foreground: #f6f3ec;
  }
}

/* Du kan fjerne 'body'-blokken som var her, da Tailwind nå håndterer det */
